<div class="main-content-menu ui tabular menu">
    <div class="left menu">
        <div class="item  active">
            <i class="teal home icon"></i>Principal
        </div>
        <a class="item">
            <i class="paperclip icon"></i>Documentacion
        </a>
    </div>
    <div class="right menu">
        <div class="ui dropdown item">
            <span style="margin-right: 10px; font-weight: bolder">Opciones</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="main-content-username-credential item">Usuario Pokemon</div>
                <div class="item"><i class="setting icon"></i>Configuracion</div>
                <div class="item"><i class="privacy icon"></i>Cambiar contraseña</div>
                <div class="divider"></div>
                <div class="item"><i class="sign out icon"></i>Salir</div>
            </div>
        </div>
    </div>
</div>
