<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="../../assets/ariesLogo.png" width="80" height="50">
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
           <span aria-hidden="true"></span>
           <span aria-hidden="true"></span>
           <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
        
        <a class="navbar-item">
            Documentacion
        </a>
        </div>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="dropdown is-right">
                        <div class="dropdown-trigger">
                          <button class="button is-info" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>Opciones</span>
                            <span class="icon is-small">
                              <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </span>
                          </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                          <div class="dropdown-content">
                            <a href="#" class="dropdown-item">
                                <span class="icon">
                                    <i class="fa fa-cog"></i>
                                </span>
                                Configuracion
                            </a>
                            <a class="dropdown-item">
                                <span class="icon">
                                    <i class="fa fa-user"></i>
                                </span>
                                Perfil
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <span class="icon">
                                    <i class="fa fa-sign-out"></i>
                                </span>
                                Salir
                            </a>
                          </div>
                        </div>
            </div>
        </div>
    </div>
</nav>