<app-nav-bar class="ui top attached teal pointing menu "></app-nav-bar>

<div class="main-content ui bottom attached active tab segment py-7">
    <div class="ui grid ">
        <div class="two column centered row">
            <div class="column">
                <div class="ui form segment">
                    <div class="field">
                        <label>Usuario</label>
                        <input type="text" name="first-name" placeholder="Usuario">
                    </div>
                    <div class="field">
                        <label>Contraseña</label>
                        <input type="text" name="last-name" placeholder="Contraseña">
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden">
                            <label>Recordar contraseña</label>
                        </div>
                    </div>
                    <button class="ui button teal" type="submit" (click)="login()">Entrar</button>
                </div>
            </div>
        </div>
    </div>
</div>