<div class="row">
    <div class="col m4 offset-m4">
        <div class="card-panel">
            <h4 class="header2">Ingreso</h4>
                <div class="row">
                <div class="col s12">
                    <div class="row">
                    <div class="input-field col s12">
                        <label for="exampleInputEmail1">Usuario</label>
                        <input type="text" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese el usuario">
                        <small id="emailHelp" class="form-text text-muted">El usuario es unico y no puede ser compartido</small>
                    </div>
                    </div>
                    <div class="row">
                    <div class="input-field col s12">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="input-field col s12">
                            <button class="btn waves-effect gradient-45deg-blue-indigo right" type="submit" (click)="login()"><i class="material-icons right">send</i> Entrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
