<div class="ui visible left vertical  sidebar labeled  menu box-shadow_remove">
    <img src="assets/ariesLogo.png" class="main-menu-logo" />
    <div class="ui section divider">
    </div>
    <div class="item">
        <div class="ui icon input">
            <input type="text" placeholder="Buscar...">
            <i class="search icon"></i>
        </div>
    </div>

    <a *ngFor="let menu of listaMenu" class="item main-menu-btn" data-content="Dashboard">
        <i class="yellow folder icon pos-icon-left"></i>{{menu}}
    </a>
</div>