<div class="ui visible left vertical  sidebar labeled  menu box-shadow_remove">
    <img src="assets/ariesLogo.png" class="main-menu-logo" />
    <div class="ui section divider">
    </div>
    <div class="item">
        <div class="ui icon input">
            <input type="text" placeholder="Buscar...">
            <i class="search icon"></i>
        </div>
    </div>

    <a *ngFor="let menu of listaMenu" class="ui accordion item main-menu-btn">
        <div class="title menu-text">
            <i id="icon-menu" class="yellow folder icon pos-icon-left-menu"></i>{{menu}}
        </div>
        <div class="content">
            <div class="ui accordion styled ">
                <div class="title" routerLink="usuario" routerLinkActive="active">
                    <i class="blue pencil icon"></i>
                    Level 1A
                </div>
                <div class="title">
                    <i class="blue ticket alternate icon"></i>
                    Level 1A
                </div>
                
            </div>

        </div>
    </a>
</div>