<aside class="menu">
    <p class="menu-label">
      Administracion
    </p>
    <ul class="menu-list" *ngFor="let menu of listaMenu">
        <li id="menu-item-head">
            <a>
                <span class="icon">
                    <i class="fa fa-folder"></i>
                </span>  
                {{menu}}
            </a>
        </li>
        <li>
            <ul id="sub-menu-item">
                <li>
                    <a>
                        <span class="icon is-small">
                            <i class="fa fa-user "></i>
                        </span>  
                        Members
                    </a>
                </li>
                <li>
                    <a>
                        <span class="icon is-small">
                            <i class="fa fa-sign-in"></i>
                        </span>  
                        Members
                    </a>
                </li>
                <li>
                    <a>
                        <span class="icon is-small">
                            <i class="fa fa-paper-plane"></i>
                        </span>  
                        Members
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>