<header id="header" class="page-topbar">
    <div class="navbar-fixed">
      <nav class="navbar-color radient-45deg-blue-indigo">
        <div class="nav-wrapper">
          <ul class="left">
            <li>
              <h1 class="logo-wrapper">
                <a href="index.html" class="brand-logo darken-1">
                  <img src="../../resources/images/logo/materialize-logo.png" alt="materialize logo">
                  <span class="logo-text hide-on-med-and-down">Zodiaco Aries 2</span>
                </a>
              </h1>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>